
poonG/__pycache__/player.cpython-310.pyc
poonG/__pycache__/ball.cpython-310.pyc
poonG/__pycache__/scoreboard.cpython-310.pyc
progger/.idea/misc.xml
progger/.idea/modules.xml
progger/.idea/progger.iml
progger/.idea/vcs.xml
progger/__pycache__/car_manager_backup.cpython-310.pyc
progger/__pycache__/player.cpython-310.pyc
progger/.idea/inspectionProfiles/Project_Default.xml
progger/.idea/inspectionProfiles/profiles_settings.xml
progger/.idea/misc.xml
progger/.idea/modules.xml
progger/.idea/modules.xml
.DS_Store
Weather_test/Austerville.csv
Weather_test/Austerville.xls
Weather_test/Austerville.xlsx
listComprehension/.idea/inspectionProfiles/profiles_settings.xml
listComprehension/.idea/inspectionProfiles/Project_Default.xml
listComprehension/.idea/listComprehension.iml
listComprehension/.idea/misc.xml
listComprehension/.idea/modules.xml
listComprehension/.idea/vcs.xml
listComprehension/main.py
listComprehension/main.py
NATO_Alpha/.idea/misc.xml
NATO_Alpha/.idea/modules.xml
NATO_Alpha/.idea/NATO_Alpha.iml
NATO_Alpha/.idea/vcs.xml
NATO_Alpha/.idea/inspectionProfiles/profiles_settings.xml
NATO_Alpha/.idea/inspectionProfiles/Project_Default.xml
NATO-alphabet-start.zip
Converter/.idea/Converter.iml
Converter/.idea/inspectionProfiles/profiles_settings.xml
Converter/.idea/inspectionProfiles/Project_Default.xml
Converter/.idea/misc.xml
Converter/.idea/modules.xml
Converter/.idea/vcs.xml
Pomodoro_app/.idea/inspectionProfiles/profiles_settings.xml
Pomodoro_app/.idea/inspectionProfiles/Project_Default.xml
Pomodoro_app/.idea/misc.xml
Pomodoro_app/.idea/modules.xml
Pomodoro_app/.idea/Pomodoro_app.iml
Pomodoro_app/.idea/vcs.xml
.idea/.name
/.idea/inspectionProfiles
*.xml
*.iml
myPass/password-manager-start.zip
myPass/password_file.json
myPass/password_file.txt
